*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
form{
    width: 500px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
}
h1{
    color: #0f2027;
    text-align: center;
}

.btn{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    font-size: 23px;
}
.box1{
    display: flex;
    flex-direction: column;
}
input{
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}
label{
    padding: 10px;
}
textarea{
    font-size: 20px;
    height: 150px;
    padding:10px 0 0 10px ;
    font-weight: bold;
}
input,textarea{
    border: 3px solid #09c372;
    border-radius: 4px;
    outline: 0  ;
}
input:focus-visible,textarea:focus{
    
    border-color: red;
}
